.profile-menu__add-button {
  margin: 75px 0 auto auto;
  padding: 0 0;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  background: url(../../../images/plus_button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.profile-menu__add-button:hover {
  opacity: 0.5;
  transition: ease-in-out 450ms;
  cursor: pointer;
}
@media screen and (max-width: 928px) {
  .profile-menu__add-button {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 440px) {
  .profile-menu__add-button {
    width: 100%;
  }
}
