.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 17px;
  margin: 50px 0 0 0;
  padding: 0 0;
}

@media screen and (max-width: 928px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .cards__list {
    grid-template-columns: 1fr;
    margin: 36px 0 0 0;
  }
}
