.popup-menu__input_title {
  max-width: 358px;
  width: 100%;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 5px 13.26px 5px;
  margin: 0 0 46px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 420px) {
  .popup-menu__input_name {
    padding: 2.5px 2.5px 9px 2.5px;
  }
}
