.popup-menu__close-button {
  top: -50px;
  right: -50px;
  border: none;
  background: url(../../../images/X_icon.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
}

.popup-menu__close-button:hover {
  opacity: 0.6;
  transition: ease-in-out 450ms;
  cursor: pointer;
}
