.popup-menu {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  color: #000;
  opacity: 0;
  display: flex;
  transition: visibilty 0s, opacity 0.4s ease-in-out;
  pointer-events: none;
}
